.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(65, 65, 65);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: rgb(78, 222, 233);
}
.list-items li{
  font-size: 2em;
  list-style: none;
  color: rgb(65, 65, 65);
  text-align: center;
  margin: 0;
}
.list-items li:hover{
  color: rgb(109, 109, 109);
  cursor: pointer;
}
